---
import img1 from "../assets/images/1.webp"
import img2 from "../assets/images/2.webp"
import img3 from "../assets/images/3.webp"
import img4 from "../assets/images/4.webp"
import img5 from "../assets/images/5.webp"
import img6 from "../assets/images/6.webp"
import img7 from "../assets/images/7.webp"
import img8 from "../assets/images/8.webp"
import img9 from "../assets/images/10.webp"
import img10 from "../assets/images/11.webp"
---
<section class="min-h-screen mx-auto flex justify-center items-center transition-all py-16  text-[#27253D] flex-col">
    <div class="animate-fade 
                animate-once 
                animate-delay-[500ms]  w-full px-5 gap-8  flex flex-col max-w-5xl text-[#F5F5C6]">
        <div class="flex items-center gap-3">
            <div class="w-10 h-0 border border-[#F5F5C6]"></div>
            <p class="text-xs lg:text-sm">Últimos trabajos</p>
        </div>

        <p class="text-xs lg:text-lg text-balance">
            En M&M Multi-Servicios Piura, estamos orgullosos de compartir nuestros proyectos más recientes que reflejan nuestra dedicación y experiencia. Cada uno de estos trabajos representa nuestro compromiso con la calidad y la innovación, destacando nuestras capacidades para enfrentar desafíos y superar las expectativas.
        </p>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 text-[#F5F5C6]">
            <div class="grid gap-4">
                <div class="relative">
                    <p class="absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Limpieza de tanque</p>
                    <img class=" max-w-full rounded-lg" src={img1.src} alt="">
                </div>
                <div class="relative">
                    <p class="absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Sardineles y veredas</p>
                    <img class=" max-w-full rounded-lg" src={img2.src} alt="">
                </div>
                <div class="relative">
                    <p class="absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Mantenimiento y acabado de baños</p>
                    <img class=" max-w-full rounded-lg" src={img3.src} alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div class="relative">
                    <p class="absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Instalación de manto asfáltico</p>
                    <img class=" max-w-full rounded-lg" src={img4.src} alt="">
                </div>
                <div class="relative">
                    <p class="absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Construcción</p>
                    <img class=" max-w-full rounded-lg" src={img5.src} alt="">
                </div>
                <div class="relative">
                    <p class="absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Limpieza de desmonte</p>
                    <img class=" max-w-full rounded-lg" src={img6.src} alt="">
                </div>
            </div>
            <div class="grid gap-4">
                <div class="relative flex flex-1">
                    <p class="h-auto absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Topografía</p>
                    <img class=" object-cover object-right max-w-full rounded-lg" src={img7.src} alt="">
                </div>
                <div class="relative flex flex-1">
                    <p class="h-auto absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Armado de buzones</p>
                    <img class=" object-cover object-right max-w-full rounded-lg" src={img8.src} alt="">
                </div>
                
            </div>
            <div class="grid gap-4">
                <div class="relative flex flex-1">
                    <p class="h-auto absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Instalación red de agua</p>
                    <img class=" object-cover object-right max-w-full rounded-lg" src={img10.src} alt="">
                </div>

                <div class="relative flex flex-1">
                    <p class="h-auto absolute bottom-0 text-xs py-2 px-3 rounded-se-xl bg-[#326765]">Instalación de red de desague</p>
                    <img class=" object-cover object-right max-w-full rounded-lg" src={img9.src} alt="">
                </div>
                   
            </div>
        </div>
    </div>
</section>